.bonuses-page {
    padding-top: 15px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    height: 100%;
    width: 100%;
}

.your-card {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.your-card__inner {
    max-width: 213px;
}

.your-card__title {
    font-size: 8px;
    font-weight: 700;
    line-height: 10px;
    color: #9D9D9D;
    margin-bottom: 8px;
}

.your-card__selected {
    font-size: 12px;
    font-weight: 700;
    line-height: 105%;
    letter-spacing: -0.04em;
    color: #F6F6F6;
    max-width: 214px;
    min-width: 214px;
    min-height: 46px;
}

.your-card__selected .gray-text {
    color: #9D9D9D;
}

.your-card__option {
    display: inline;
    margin-right: 3px;
    white-space: normal;
    max-width: 100%;
}

.your-card__option:nth-child(2) {
    margin-left: 3px;
}

.your-card__option-img-wrpap {
    display: inline-block;
    width: 13px;
    height: 13px;
    margin-right: 3px;
    position: relative;
    top: 1px;
}

.your-card__option-img-wrpap svg {
    height: 100%;
    object-fit: cover;
}

.your-card__price {
    display: flex;
    gap: 4px;
}

.your-card__price-number {
    font-size: 28px;
    font-weight: 700;
    line-height: 1.15;
    letter-spacing: -.05em;
    color: #FFF;
}

.your-card__price-text {
    padding-top: 4px;
    font-size: 13px;
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: -.05em;
    color: #9D9D9D;
}

.options {
    border-radius: 50px 50px 0px 0px;
    background-color: #F6F6F6;
    margin: 0px -20px;
    padding: 20px 28px 0px 28px;
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    min-height: 300px;
}

.options__inner {
    flex: 1 1 auto;
    margin-bottom: 20px;
    height: calc(60vh - 195px);
}

@media (max-height: 600px) {
    .options__inner {
        height: calc(60vh - 150px);
    }
}

.options__items {
    display: flex;
    flex-direction: column;
}

.options__item {
    font-size: 13px;
    line-height: 14px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 14px 0px;
    border-bottom: 1px dashed #D9D9D9;
}

.options__item:first-child {
    padding: 0px 0px 14px 0px;
}

.options__item:last-child {
    padding: 14px 0px 0px 0px;
    border-bottom: none;
}

.options__item-texts {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.options__item-title {
    font-weight: 800;
    color: #000;
}

.options__item-pre-title {
    font-weight: 700;
    color: #B7B7B7;
}

.options__title-action {
    display: flex;
    align-items: center;
    gap: 18px;
}

.options__item-price {
    font-weight: 700;
    letter-spacing: -.03em;
    color: #797979;
    font-style: italic;
}

.options__item-switch {}


/* ФИНАЛЬНЫЕ ЭЛЕМЕНТЫ */
.options.--final-page {
    padding: 30px 20px 0px 20px;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.options.--final-page .options__inner {
    display: none;
}

.final-page__options-inner {
    display: none;
}

.options.--final-page .final-page__options-inner {
    display: flex;
    flex-direction: column;
    gap: 7px;
    margin-bottom: 60px;
}

.options.--final-page .next-button {
    display: none;
}

.final-page__button {
    display: none;
}

.options.--final-page .final-page__button {
    display: flex;
}

.final-page__option {
    max-width: none;
    padding: 13px 20px;
    height: 52px;
    color: #F6F6F6;
    justify-content: flex-start;
}

.final-page__option .my-button__icon-wrap {
    top: auto;
}

.my-button__texts {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2px;
}

.my-button__texts-top {
    display: flex;
    gap: 7px;
}

.my-button__top-title {
    font-size: 13px;
    font-weight: 700;
    line-height: 14px;
}

.my-button__top-text {
    font-size: 13px;
    font-weight: 700;
    line-height: 14px;
    font-style: italic;
    color: #B0B0B0;
    letter-spacing: -.03em;
}

.my-button__texts-bottom {}

.my-button__bottom-text {
    font-size: 11px;
    font-weight: 700;
    line-height: 100%;
    letter-spacing: -.03em;
    color: rgba(121, 121, 121, 0.8);
}

.final-page__button .my-button__icon-wrap {
    top: 4px;
}


/* АНИМАЦИЯ */
.your-card,
.options__item,
.final-page__option {
    opacity: 0;
    transform: translateY(20px);
    animation: fadeInUp 0.5s forwards;
}

.your-card {
    animation-delay: 0.2s;
}

.options__item:nth-child(1) {
    animation-delay: 0.4s;
}

.options__item:nth-child(2) {
    animation-delay: 0.5s;
}

.options__item:nth-child(3) {
    animation-delay: 0.6s;
}

.options__item:nth-child(4) {
    animation-delay: 0.7s;
}

.options__item:nth-child(5) {
    animation-delay: 0.8s;
}

.options__item:nth-child(6) {
    animation-delay: 0.9s;
}

.options__item:nth-child(7) {
    animation-delay: 1.0s;
}

.options__item:nth-child(8) {
    animation-delay: 1.1s;
}

.options.--final-page .final-page__option:nth-child(1) {
    animation-delay: 0.1s;
}

.options.--final-page .final-page__option:nth-child(2) {
    animation-delay: 0.2s;
}

.options.--final-page .final-page__option:nth-child(3) {
    animation-delay: 0.3s;
}

.final-page__option.disabled {
  animation: fadeOut 0.3s ease forwards;
}

@keyframes fadeOut {
  from {
    opacity: 0;
    transform: translateY(0);
  }

  to {
    opacity: 0.8;
    transform: translateY(0);
  }
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.timer-block {
    display: flex;
    gap: 4px;
}
.tick {
    height: 80px;
}

.timer-group {
    height: 80px;
    display: flex;
}
.timer-group > * {
    width: 53px;
    height: 80px;
    min-width: 0px;
    font-size: 50px;
    border-radius: 20px;
}

.tick-flip-card .tick-flip-panel-front, .tick-flip-card .tick-flip-panel-back {
    background: #E8FF21;
    color: #1C1C1C!important;
    margin-top: 0px;
}

.tick-flip-spacer {
    height: 100%;
}

.tick-credits {
    display: none;
}

.tick-flip {
    font-size: 50px;
    border-radius: 20px;
    line-height: 1.6;
    font-weight: 700;
    letter-spacing: .1;
}

.tick-flip-spacer {
    display: inline-block;
}

.tick-group:first-child .tick-flip:first-child {
    margin: 0px 3px 0px 0px;
}
.tick-group:first-child .tick-flip:last-child {
    margin: 0px 3px 0px 0px;
}
.tick-group:last-child .tick-flip:first-child {
    margin: 0px 3px 0px 3px;
}
.tick-group:last-child .tick-flip:last-child {
    margin: 0px 0px 0px 0px;
}

.timer-notify {
    width: 100%;
    background: #353535;
    border-radius: 20px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}
.timer-notify__text {
    font-size: 8px;
    line-height: 1.15;
    letter-spacing: -.05em; 
    max-width: 75px;
    color: #9D9D9D;
}
